<%= form_for(@bitch) do |f| %>
  <% if @bitch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bitch.errors.count, "error") %> prohibited this bitch from being saved:</h2>

      <ul>
      <% @bitch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :group %><br>
    <%= f.number_field :group %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
