<h1>Listing bitches</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bitches.each do |bitch| %>
      <tr>
        <td><%= bitch.name %></td>
        <td><%= bitch.description %></td>
        <td><%= bitch.group %></td>
        <td><%= link_to 'Show', bitch %></td>
        <td><%= link_to 'Edit', edit_bitch_path(bitch) %></td>
        <td><%= link_to 'Destroy', bitch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bitch', new_bitch_path %>
