<%= form_for(@service) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :second_name %><br>
    <%= f.text_field :second_name %>
  </div>
  <div class="field">
    <%= f.label :service_start %><br>
    <%= f.date_select :service_start %>
  </div>
  <div class="field">
    <%= f.label :service_end %><br>
    <%= f.date_select :service_end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
