<h1>Výpis služeb</h1>

<table>
  <thead>
    <tr>
      <th>První jméno</th>
      <th>Druhé jméno</th>
      <th>Počátek služby</th>
      <th>Konec služby</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.first_mate.full_name %></td>
        <td><%= service.second_mate.full_name %></td>
        <td><%= l service.service_start %></td>
        <td><%= l service.service_end %></td>
        <td><%= link_to 'Zobrazit', service %></td>
        <td><%= link_to 'Upravit', edit_service_path(service) %></td>
        <td><%= link_to 'Odstranit', service, method: :delete, data: { confirm: 'Jste si jisti?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nová služba', new_service_path %>
