<p id="notice"><%= notice %></p>

<p>
  <strong>První jméno:</strong>
  <%= @service.first_name %>
</p>

<p>
  <strong>Druhé jméno:</strong>
  <%= @service.second_name %>
</p>

<p>
  <strong>Počátek služby:</strong>
  <%= @service.service_start %>
</p>

<p>
  <strong>Konec služby:</strong>
  <%= @service.service_end %>
</p>

<%= link_to 'Upravit', edit_service_path(@service) %> |
<%= link_to 'Zpět na správu služeb', services_path %>
