<p>
  <strong>První jméno:</strong>
  <%= @service.first_mate.full_name %>
</p>

<p>
  <strong>Druhé jméno:</strong>
  <%= @service.second_mate.full_name %>
</p>

<p>
  <strong>Počátek služby:</strong>
  <%= l @service.service_start %>
</p>

<p>
  <strong>Konec služby:</strong>
  <%= l @service.service_end %>
</p>

<% if admin_logged_in? %>
<%= link_to 'Upravit', edit_service_path(@service) %> |
<%= link_to 'Zpět na správu služeb', services_path %>
<% end %>
