<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @service.first_name %>
</p>

<p>
  <strong>Second name:</strong>
  <%= @service.second_name %>
</p>

<p>
  <strong>Service start:</strong>
  <%= @service.service_start %>
</p>

<p>
  <strong>Service end:</strong>
  <%= @service.service_end %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
