<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @day_teacher.date %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @day_teacher.teacher_id %>
</p>

<%= link_to 'Edit', edit_day_teacher_path(@day_teacher) %> |
<%= link_to 'Back', day_teachers_path %>
