<h1>Listing class_members</h1>

<table>
  <thead>
    <tr>
      <th>Křestní jméno</th>
      <th>Příjmení</th>
      <th>Třída</th>
      <th>Skupiny</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @class_members.each do |class_member| %>
      <tr>
        <td><%= class_member.first_name %></td>
        <td><%= class_member.last_name %></td>
        <td><%= class_member.sclass.name %></td>
        <td><%= class_member.sgroups.pluck(:name).to_sentence %></td>
        <td><%= link_to 'Show', class_member %></td>
        <td><%= link_to 'Edit', edit_class_member_path(class_member) %></td>
        <td><%= link_to 'Destroy', class_member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Class member', new_class_member_path %>
