<h3><%= @holiday.name %></h3>

<p>
  <strong>Holiday beginning:</strong>
  <%= @holiday.holiday_beginning %>
</p>

<p>
  <strong>Holiday end:</strong>
  <%= @holiday.holiday_end %>
</p>

<p>
  <strong>School year:</strong>
  <%= @holiday.school_year.readable_name %>
</p>

<%= link_to 'Edit', edit_holiday_path(@holiday) %> |
<%= link_to 'Back', holidays_path %>
