<%= form_for(@day_bitch) do |f| %>
    <h1>Anketa vyučující dne</h1>
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>
  <div class="field">
    <%= f.label :bitch_id, 'Vyberte profesora/profesorku' %><br>
    <%= f.collection_select :bitch_id, @bitches, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit 'Hlasovat' %>
  </div>
<% end %>