<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @day_bitch.date %>
</p>

<p>
  <strong>Bitch:</strong>
  <%= @day_bitch.bitch_id %>
</p>

<%= link_to 'Edit', edit_day_bitch_path(@day_bitch) %> |
<%= link_to 'Back', day_bitches_path %>
