<table>
  <thead>
  <tr>
    <th>Název</th>
    <th>Url</th>
    <th>Předmět</th>
    <th>
      <div class="float_right_actions"><%= link_to mi.add.md_36, new_additional_info_path if admin_logged_in? %></div>
    </th>
  </tr>
  </thead>

  <tbody>
  <% @additional_infos.each do |additional_info| %>
      <tr>
        <td><%= additional_info.name %></td>
        <td><%= additional_info.url %></td>
        <td><%= additional_info.subject.name if additional_info.subject %></td>
        <td>
          <div class="float_right_actions"><%= link_to mi.edit, edit_additional_info_path(additional_info) %>
            <%= link_to mi.delete, additional_info, method: :delete, data: {confirm: "Odstranit #{additional_info.name}?"} %>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>