<%= form_for(@lesson_timing) do |f| %>
  <% if @lesson_timing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson_timing.errors.count, "error") %> prohibited this lesson_timing from being saved:</h2>

      <ul>
      <% @lesson_timing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start %><br>
    <%= f.number_field :start %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.number_field :duration %>
  </div>
  <div class="field">
    <%= f.label :serial_number %><br>
    <%= f.number_field :serial_number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
