<%= form_for(@baka_account) do |f| %>
  <% if @baka_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@baka_account.errors.count, "error") %> prohibited this baka_account from being saved:</h2>

      <ul>
      <% @baka_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
    <div class="field">
      <%= f.label :class_member_id %><br>
      <%= f.collection_select :class_member_id, ClassMember.where(sclass: current_class), :id, :full_name %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
