<h1>Listing baka_accounts</h1>

<table>
  <thead>
    <tr>
        <th>Name</th>
      <th>Username</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @baka_accounts.each do |baka_account| %>
      <tr>
          <td><%= baka_account.class_member ? baka_account.class_member.full_name : "NO CLASS_MEMBER ASSOCIATED" %></td></td>
        <td><%= baka_account.username %></td>
        <td>Surprise Motherfucker!</td>
        <td><%= link_to 'Zobrazit', baka_account %></td>
        <td><%= link_to 'Upravit', edit_baka_account_path(baka_account) %></td>
        <td><%= link_to 'Odstranit', baka_account, method: :delete, data: { confirm: 'Jste si jisti?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Baka account', new_baka_account_path %>
