<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @baka_account.class_member.full_name if @baka_account.class_member %>
</p>
<p>
  <strong>Username:</strong>
  <%= @baka_account.username %>
</p>

<p>
  <strong>Password:</strong>
  Surprise Motherfucker!
</p>

<%= link_to 'Upravit', edit_baka_account_path(@baka_account) %> |
<%= link_to 'Back', baka_accounts_path %>
