<h1>Seznam plánovaných zkoušení</h1>

<table class="stretch">
  <thead>
  <tr>
    <th>Název</th>
    <th>Předmět</th>
    <th>Začátek zkoušení</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @planned_raking_lists.each do |planned_raking_list| %>
      <tr>
        <td><%= planned_raking_list.title %></td>
        <td><%= planned_raking_list.subject.name %></td>
        <td><%= format_date planned_raking_list.beginning %></td>
        <td><%= link_to 'Seznam zkoušených', planned_raking_list %></td>
        <td><%= link_to 'Přihlásit se', new_planned_raking_entry_path %><br></td>
        <% if admin_logged_in? %>
            <td><%= link_to 'Upravit', edit_planned_raking_list_path(planned_raking_list) %></td>
            <td><%= link_to 'Odstranit', planned_raking_list, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Planned raking list', new_planned_raking_list_path if admin_logged_in? %>
