<h1><%= @data[:list].title %></h1>

<strong>Výběr kola</strong>
<%= select_tag(:round_selector, options_from_collection_for_select(@data[:list].raking_rounds, :id, :number), prompt: "Vyberte kolo pro zobrazení...") %>

<div id="planned_raking_entries_div" data-id="<%= @data[:list].id %> data-admin="false">
  <%= render partial: "planned_raking_lists/show/show", locals: {list: @data[:list], round: @data[:round]} %>
</div>

<p>
  <%= link_to 'Přihlásit se do seznamu', new_planned_raking_entry_path(list_id: @data[:list].id) %><br>
  <%= link_to 'Zpět', planned_raking_lists_path %>
</p>