<% timetable = Timetable.timetable_for(@data[:list].subject, 0) %>

<p id="notice"><%= notice %></p>

<h1><%= @data[:list].title %></h1>

<table class="stretch planned_rakings_table">
  <thead>
  <tr>
    <th>Jméno</th>
    <th>Téma</th>
    <th>Očekávané datum zkoušení</th>
  </tr>
  </thead>
  <tbody>
  <% counter = 0.0 %>
  <% @data[:entries].each do |entry| %>
      <% hour_offset = (counter / @data[:list].rekt_per_hour.to_f).floor %>
      <% counter += 1 %>
      <tr class="<%= "raking_hour_separator" if counter % @data[:list].rekt_per_hour == 0 %>">
        <td><%= entry.name %></td>
        <td><%= entry.description %></td>
        <td><%= timetable.get_next_hour_for(@data[:list].subject, @data[:list].beginning, hour_offset) ? (format_date timetable.get_next_hour_for(@data[:list].subject, @data[:list].beginning, hour_offset).school_day.date) : "více než čtrnáct dní (dohled rozvrhu)" %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<p>
  <%= link_to 'Přihlásit se do seznamu', new_planned_raking_entry_path(list_id: @data[:list].id) %><br>
  <%= link_to 'Zpět', planned_raking_lists_path %>
</p>
