<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @planned_raking_list.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @planned_raking_list.description %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @planned_raking_list.subject_id %>
</p>

<p>
  <strong>Beginning:</strong>
  <%= @planned_raking_list.beginning %>
</p>

<%= link_to 'Edit', edit_planned_raking_list_path(@planned_raking_list) %> |
<%= link_to 'Back', planned_raking_lists_path %>
