<% timetable = Timetable.timetable_for(@data[:list].subject, 0) %>

<p id="notice"><%= notice %></p>

<h1><%= @data[:list].title %></h1>

<table class="stretch">
  <thead>
  <tr>
    <th>Jméno</th>
    <th>Téma</th>
    <th>Předpokládané datum zkoušení (nejhorší scénář)</th>
  </tr>
  </thead>
  <tbody>
  <% counter = 0.0 %>
  <% @data[:entries].each do |entry| %>
      <tr>
        <td><%= entry.name %></td>
        <td><%= entry.description %></td>
        <td><%= timetable.get_next_hour_for(@data[:list].subject, @data[:list].beginning, counter.floor) ? (format_date timetable.get_next_hour_for(@data[:list].subject, @data[:list].beginning, counter.floor).school_day.date) : (format_date @data[:list].beginning) %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<p>
  <%= link_to 'Přihlásit se do seznamu', new_planned_raking_entry_path %><br>
  <%= link_to 'Zpět', planned_raking_lists_path %>
</p>
