<div class="task" data-id=<%= task.id %>>
    <% if logged_in? && !defined?(no_hide) %>
        <% if task.is_done? %>
            <%= button_to 'Obnovit', task_reveal_path(task), method: :post, remote: true, class: 'hide_or_reveal' %>
        <% else %>
            <%= button_to 'Skrýt', task_hide_path(task), method: :post, remote: true, class: 'hide_or_reveal' %>
        <% end %>
    <% end %>
    
    <h3><%= link_to task.title, task_path(task), method: :get %></h3>
    <p>
        <%= sanitize(task.description) %>
    </p>
    
    <p>
        <strong>Předmět: </strong>
        <%= task.subject.name %>
    </p>
    
    <p>
        <strong>Datum: </strong>
        <% if task.lesson.nil? %>
        	<%= l task.date %> (<%= I18n.t(:"date.day_names")[task.date.wday] %>)
        <% else %>
        	<%= l task.lesson.school_day.date %> (<%= I18n.t(:"date.day_names")[task.lesson.school_day.date.wday] %>)
        <% end %>
    </p>
    
    <p>
        <strong>Skupina: </strong>
        <% if task.group == 0 %>
            obě skupiny
        <% else %>
            <%= task.group %>.
        <% end %>
    </p>
    <% if !task.additional_info_url.nil? && !task.additional_info_url.empty? %>
        <p>
            <%= link_to "Další informace", task.additional_info_url, target: '_blank' %>
        </p>
    <% end %>
</div>
