<div class="task">
    
    <% if logged_in? %>
        <% if task.is_done? %>
            <%= button_to 'Obnovit', task_reveal_path(task), method: :post, class: 'hide_or_reveal' %>
        <% else %>
            <%= button_to 'Skrýt', task_hide_path(task), method: :post, class: 'hide_or_reveal' %>
        <% end %>
    <% end %>
    
    <h3><%= link_to task.title, task_path(task), method: :get %></h3>
    <p>
        <%= sanitize(task.description) %>
    </p>
    
    <p>
        <strong>Předmět: </strong>
        <%= task.subject.name %>
    </p>
    
    <p>
        <strong>Datum: </strong>
        <%= l task.date %>
    </p>
    
    <p>
        <strong>Skupina: </strong>
        <% if task.group == 0 %>
            obě skupiny
        <% else %>
            <%= task.group %>.
        <% end %>
    </p>
    <% if !task.additional_info_url.nil? && !task.additional_info_url.empty? %>
        <p>
            <%= link_to "Další informace", task.additional_info_url %>
        </p>
    <% end %>
</div>
