<h1>Seznam úkolů</h1>

<%= link_to 'Nový úkol', new_task_path %>

<table>
  <thead>
    <tr>
      <th>Název</th>
      <th>Popis</th>
      <th>Předmět</th>
      <th>Více informací</th>
      <th>Datum původní</th>
      <th>Datum další hodiny po původním datu</th>
      <th>Skupina</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.description %></td>
        <td><%= task.subject.name %></td>
        <td><%= truncate task.additional_info_url %></td>
        <td><%= l task.date %></td>
        <% if task.lesson.nil? %>
        	<td>Další hodina nenalezena</td>
        <% else %>
        	<td><%= link_to (l task.lesson.school_day.date), task.lesson %></td>
        <% end %>
        <td><%= task.group %></td>
        <td><%= link_to 'Zobrazit', task %></td>
        <td><%= link_to 'Upravit', edit_task_path(task) %></td>
        <td><%= link_to 'Exterminate', task, method: :delete, data: { confirm: 'Jste si jisti?' } %></td>
        <td><%= link_to 'Převést na test', task_transform_to_exam_path(task), data: { confirm: 'Jste si jisti?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nový úkol', new_task_path %>
