<p id="notice"><%= notice %></p>

<%= render @task %>

<% if logged_in? %>
<%= link_to 'Upravit', edit_task_path(@task) %> |
<%= link_to 'Zpět na správu úkolů', tasks_path %> |
<% end %>
<%= link_to 'Zpět na podrobnosti' %>