<%# timetable = Timetable.timetable_for(@data[:list].subject, 0) %>

<h3><%= round.number %>. kolo</h3>

<table class="stretch">
  <thead>
  <tr>
    <th>Jméno</th>
    <th>Téma</th>
    <th>Známka</th>
  </tr>
  </thead>
  <tbody id="planned_raking_entries_sortable">
  <% round.planned_raking_entries.order(:finished, :sorting_order).each do |entry| %>
      <tr class="move_cursor" data-entry-id="<%= entry.id %>">
        <td><%= entry.class_member.full_name %></td>
        <td><%= entry.description %></td>
        <td><%= entry.grade %></td>
        <td><%= link_to "Vyhladit #{entry.class_member.full_name}", entry, method: :delete, data: { confirm: "Jako vážně? #{entry.class_member.full_name}" } %></td>
        <td><%= link_to "#{entry.class_member.full_name} byl/a již zkoušen/a", new_already_rekt_raking_entry_path(entry.id) if !entry.finished %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<div id="planned_raking_list_status">Všechny změny uloženy</div>