<%= simple_form_for(@additional_info) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :url %>
    <%= f.input :task_id %>
    <%= f.input :exam_id %>
    <%= f.input :raking_id %>
    <%= f.input :event_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
