<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @additional_info.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @additional_info.url %>
</p>

<p>
  <strong>Task:</strong>
  <%= @additional_info.task_id %>
</p>

<p>
  <strong>Exam:</strong>
  <%= @additional_info.exam_id %>
</p>

<p>
  <strong>Raking:</strong>
  <%= @additional_info.raking_id %>
</p>

<p>
  <strong>Event:</strong>
  <%= @additional_info.event_id %>
</p>

<%= link_to 'Edit', edit_additional_info_path(@additional_info) %> |
<%= link_to 'Back', additional_infos_path %>
