<h2>Zapomenuté heslo</h2>
<p>Pokud tato funkce nefunguje, tak mi prosím napište.</p>
<% if alert %>
<p id="alert">
    <%= alert %>
</p>
<% end %>

<%= form_tag(forgot_path, method: 'post') do %>
    <div class="field">
        <%= label_tag :email, 'Váš email:' %>
        <%= text_field_tag :email %>
    </div>
    <div class="field">
        <%= submit_tag 'Odeslat' %>
    </div>
<% end %>