<h2>Výpis uživatelů</h2>

<table>
  <thead>
  <tr>
    <th>Jméno</th>
    <th>Email</th>
    <th>Úroveň přístupu</th>
    <th>Skupina</th>
    <th>
      <div class="float_right_actions"><%= link_to mi.add.md_36, new_user_path if admin_logged_in? %></div>
    </th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.to_s %></td>
        <td><%= user.email %></td>
        <td><%= "#{User.get_access_level_string(user.access_level)} (#{user.access_level})" %></td>
        <td><%= user.sgroups.pluck(:name).to_sentence %></td>
        <td>
          <div class="float_right_actions">
            <%= link_to mi.edit, edit_user_path(user) %>
            <%= link_to mi.delete, user, method: :delete, data: {confirm: 'Jste si jisti?'} %>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Registrovat nového uživatele', new_user_path %>
