<p>
  <strong>Jméno:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Sekané maso - heslo:</strong>
  <%= @user.hashed_password %>
</p>

<p>
  <strong>Sůl:</strong>
  <%= @user.salt %>
</p>

<p>
  <strong>Administrátor:</strong>
  <%= @user.admin %>
</p>

<p>
  <strong>Skupina:</strong>
  <%= @user.group %>
</p>

<%= link_to 'Upravit', edit_user_path(@user) %> |
<%= link_to 'Zpět na správu uživatelů', users_path %>
