<h1>Skupiny</h1>

<table>
  <thead>
    <tr>
      <th>Jméno</th>
      <th>Zkratka</th>
      <th>Kategorie</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sgroups.each do |sgroup| %>
      <tr>
        <td><%= sgroup.name %></td>
        <td><%= sgroup.timetable_abbr %></td>
        <td><%= link_to sgroup.group_category.name, sgroup.group_category %></td>
        <td><%= link_to 'Show', sgroup %></td>
        <td><%= link_to 'Edit', edit_sgroup_path(sgroup) %></td>
        <td><%= link_to 'Destroy', sgroup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sgroup', new_sgroup_path %>
