<h3><%= event.title %></h3>
<p>
    <%= sanitize(event.description) %>
</p>
<%= event.id %>

<p>
    <strong>Místo: </strong>
    <%= event.location %>
</p>
    <% if event.price && event.pay_date && event.price > 0%>
    <p>
        <strong>Platba: </strong>
        <% if event.pay_date == event.event_start %>
            <%= number_to_currency(event.price, locale: :cs) %> na místě
        <% else %>
            <%= l event.pay_date %> zaplatit <%= number_to_currency(event.price, locale: :cs) %>
        <% end %>
    </p>
    <% end %>


<p>
    <strong>Začátek události: </strong>
    <%= l event.event_start %>
</p>

<p>
    <strong>Konec události: </strong>
    <%= l event.event_end %>
</p>

<% if !event.additional_info_url.nil? && !event.additional_info_url.empty? %>
    <p>
        <%= link_to "Další informace", event.additional_info_url %>
    </p>
<% end %>
