<%= form_for(@event) do |f| %>
<% if @event.errors.any? %>
<div id="error_explanation">
	<h2><%= errors_restricted_cs(@event.errors.count) %> uložení této události:</h2>

	<ul>
		<% @event.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="field">
	<%= f.label :title, 'Název' %>
	<br>
	<%= f.text_field :title %>
</div>
<div class="field">
	<%= f.label :description, 'Popis' %>
	<br>
	<%= f.text_area :description, rows: 6, cols: 30 %>
</div>
<div class="field">
	<%= f.label :location, 'Místo' %>
	<br>
	<%= f.text_field :location %>
</div>
<div class="field">
	<%= f.label :additional_info_url, 'Odkaz na další informace (nepovinné)' %>
	<br>
	<%= f.url_field :additional_info_url %>
</div>
<div class="field">
    <%= f.label :price, 'Cena (nepovinné)' %>
    <br>
    <%= f.number_field :price %>
</div>
<div class="field">
    <%= f.label :pay_date, 'Termín platby' %>
    <br>
    <%= f.date_select :pay_date %>
</div>
<div class="field">
	<%= f.label :event_start, 'Počátek akce' %>
	<br>
	<%= f.date_select :event_start %>
</div>
<div class="field">
	<%= f.label :event_end, 'Konec akce' %>
	<br>
	<%= f.date_select :event_end %>
</div>
<div class="actions">
	<%= f.submit 'Uložit' %>
</div>
<% end %>
