<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Additional info url:</strong>
  <%= @event.additional_info_url %>
</p>

<p>
  <strong>Start:</strong>
  <%= @event.event_start %>
</p>

<p>
  <strong>End:</strong>
  <%= @event.event_end %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
