<p id="notice"><%= notice %></p>

<%= render partial: '_generic_utu_partials/show', locals: { item: @event } %>

<% if logged_in? %>
<%= link_to 'Upravit', edit_event_path(@event) %> |
<%= link_to 'Zpět na správu událostí', events_path %> |
<% end %>
<%= link_to 'Zpět na podrobnosti', details_path %>
