<tr>
    <td><h4><%= subject.name %></h4></td>
    <td><%= subject.get_exam_after_days %></td>
    <td><%= subject.get_exam_before_days %></td>
    <td><%= subject.get_total_exams %></td>
    <td><%= subject.get_total_tasks %></td>
</tr>
