<tr>
    <td class="subject_name"><%= subject.name %></td>
    <td class="subject_text_param"><%= subject.get_exam_after_days %></td>
    <td class="subject_text_param"><%= subject.get_exam_before_days %></td>
    <td class="subject_text_param"><%= subject.get_total_exams %></td>
    <td class="subject_text_param"><%= subject.get_total_tasks %></td>
</tr>
