<% if lesson.not_normal %>
	<td class="lesson_changed">
<% else %>
	<td class="lesson">
<% end %>

	<% if lesson.exams_or_tasks? %>
		<div class="lesson_subject lesson_warning" title="<%= lesson.get_titles_string %>">
			<%= lesson.subject.name %> <% #link_to lesson.subject.name, {controller: :lessons, action: :dialog_for_timetable, exams: lesson.exams.pluck(:id), tasks: lesson.tasks.pluck(:id)}, remote: true 
			%>
		</div>
	<% else %>
		<div class="lesson_subject">
			<%= lesson.subject.name %>
		</div>
	<% end %>
	<div class="lesson_teacher" title="<%= lesson.teacher.name %>">
		<%= lesson.teacher.abbr %>
	</div>
	<div class="lesson_room">
		<%= lesson.room %>
	</div>

</td>
