<% if lesson.not_normal %>
	<% if lesson.subject.nil? %>
		<td class="lesson_changed" title="<%= lesson.not_normal_comment %>"></td>
	<% else %>
		<td class="lesson_changed" title="<%= lesson.not_normal_comment %>">
			<div class="lesson_subject">
				<%= lesson.subject.name %>
			</div>
			<div class="lesson_teacher" title="<%= lesson.teacher.name %>">
				<%= lesson.teacher.abbr %>
			</div>
			<div class="lesson_room">
				<%= lesson.room %>
			</div>
		</td>
	<% end %>
<% else %>
	<% if !lesson.event_name.nil? %>
		<td class="lesson_event"> 
			<div class="lesson_subject">
				<%= lesson.event_name %>
			</div>
		</td>
	<% else %>
		<td class="lesson">
			<div class="lesson_subject">
				<%= lesson.subject.name %>
			</div>
			<div class="lesson_teacher" title="<%= lesson.teacher.name %>">
				<%= lesson.teacher.abbr %>
			</div>
			<div class="lesson_room">
				<%= lesson.room %>
			</div>
		</td>
	<% end %>
<% end %>
