<% random = rand(36**10).to_s(36) %>
$("#main").append("<div class=\"dialog\" data-identifier=\"<%= random %>\"></div>");

<% @exams.each do |exam| %>
	$(".dialog[data-identifier='<%= random %>']").append("<%= escape_javascript(render exam) %>");
<% end %>

<% @tasks.each do |task| %>
	$(".dialog[data-identifier='<%= random %>']").append("<%= escape_javascript(render task) %>");
<% end %>

$(".dialog[data-identifier=<%= random %>]").dialog(
{
	close: function(event, ui){
		$(this).dialog("destroy").remove();
	},
	modal: true
});