<h1>Listing lessons</h1>

<table>
  <thead>
    <tr>
      <th>Předmět</th>
      <th>Místnost</th>
      <th>Učitel</th>
      <th>Datum</th>
      <th>Číslo hodiny</th>
      <th>Změna?</th>
      <th>Změna</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
      	<% if lesson.subject.nil? %>
      	<td></td>
        <td></td>
        <td></td>
      	<% else %>
        <td><%= lesson.subject.name %></td>
        <td><%= lesson.room %></td>
        <td><%= lesson.teacher.name %></td>
        <% end %>
        <td><%= l lesson.school_day.date %></td>
        <td><%= lesson.serial_number %></td>
        <td><%= lesson.not_normal %></td>
        <td><%= lesson.not_normal_comment %></td>
        <td><%= link_to 'Show', lesson %></td>
        <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td>
        <td><%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lesson', new_lesson_path %>
