<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <% if @lesson.subject.nil? %>
  	Neexistuje
  <% else %>
  	<%= @lesson.subject.name %>
  <% end %>
</p>

<p>
  <strong>Room:</strong>
  <%= @lesson.room %>
</p>

<p>
  <strong>Teacher:</strong>
  <% if @lesson.teacher.nil? %>
  	Neexistuje
  <% else %>
  	<%= @lesson.teacher.name %>
  <% end %>
</p>

<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
