<p>
  <strong>Jméno:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Popis:</strong>
  <%= @teacher.description %>
</p>

<p>
  <strong>Zkratka:</strong>
  <%= @teacher.abbr %>
</p>


<%= link_to 'Upravit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
