<h1>Listing school_years</h1>

<table>
  <thead>
    <tr>
      <th>Beginning year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @school_years.each do |school_year| %>
      <tr>
        <td><%= school_year.beginning_year %></td>
        <td><%= link_to 'Show', school_year %></td>
        <td><%= link_to 'Edit', edit_school_year_path(school_year) %></td>
        <td><%= link_to 'Destroy', school_year, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New School year', new_school_year_path %>
