<h1>Listing sclasses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sclasses.each do |sclass| %>
      <tr>
        <td><%= sclass.name %></td>
        <td><%= link_to 'Show', sclass %></td>
        <td><%= link_to 'Edit', edit_sclass_path(sclass) %></td>
        <td><%= link_to 'Destroy', sclass, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sclass', new_sclass_path %>
