<h1>Nastavení</h1>
<% set_title 'Nastavení' %>
<%= select_tag(:main_sclass_selector, options_from_collection_for_select(Sclass.all, :id, :name, current_class.id), class: 'form-control') if !logged_in? %>
<% if logged_in? %>
    <%= render partial: "users/settings", locals: {user: current_user} %>
<% else %>
    <p>Pro používání této sekce se musíte <%= link_to 'přihlásit', login_path %>
      nebo <%= link_to 'zaregistrovat', register_path %></p>
<% end %>
<h3>Vyhledávání</h3>
<div id="search_box">
  <%= form_tag search_path, method: :get do %>
      <%= search_field_tag :query, '', class: 'form-control search_field' %>
      <%= submit_tag 'Hledat', class: 'btn btn-default' %>
  <% end %>
</div>
<% if admin_logged_in? %>
    <%= render "administration_menu" %><br/>
<% end %>
<% if Rails.env.development? %>
    <%= console %>
<% end %>
<!---
<h3>Kontakt</h3>
<p>Našli jste chybu nebo máte jakýkoliv jiný problém? Obraťte se na naši podporu.</p>
<%= mail_to "cendrb@gmail.com", 'Odeslat email', encode: "javascript" %><br />
---->
