<% set_title 'Podrobnosti' %>
<div class="details_container container-fluid">
  <div id="details_row row">
    <div class="details_col col-sm-4 col-xs-12">
      <div class="details_block">
        <% if admin_logged_in? %>
            <h1><%= link_to "Události", events_path %></h1>
        <% else %>
            <h1>Události</h1>
        <% end %>
        <% @events.each do |e| %>
            <%= render partial: "_generic_utu_partials/show", locals: {item: e} %>
            <%= render 'line' unless e == @events.last %>
        <% end %>
      </div>
    </div>
    <div class="details_col col-sm-4 col-xs-12">
      <div id="middle_detail_block" class="details_block">
        <% if admin_logged_in? %>
            <h1><%= link_to "Úkoly", tasks_path %></h1>
        <% else %>
            <h1>Úkoly</h1>
        <% end %>
        <% @tasks.each do |e| %>
            <%= render partial: "_generic_utu_partials/show", locals: {item: e} %>
            <%= render 'line' unless e == @tasks.last %>
        <% end %>
      </div>
    </div>
    <div class="details_col col-sm-4 col-xs-12">
      <div class="details_block">
        <% if admin_logged_in? %>
            <h1><%= link_to "Testy", written_exams_path %></h1>
        <% else %>
            <h1>Testy</h1>
        <% end %>
        <% @exams.each do |e| %>
            <%= render partial: "_generic_utu_partials/show", locals: {item: e} %>
            <%= render 'line' unless e == @exams.last %>
        <% end %>
      </div>
    </div>
  </div>
</div>