<div id="details">
    <table class="details">
        <tr>
            <td class="details_block">
            <div class="details_block">
                <h1>Události</h1>
                <% @events.each do |e| %>
                    <%= render e %>
                    <%= render 'line' unless e == @events.last %>
                <% end %>
            </div></td>
            <td class="details_block" id="middle_detail_block">
            <div id="middle_detail_block" class="details_block">
                <h1>Úkoly</h1>
                <% @tasks.each do |e| %>
                    <%= render e %>
                    <%= render 'line' unless e == @tasks.last %>
                <% end %>
            </div></td>
            <td class="details_block">
            <div class="details_block">
                <h1>Testy</h1>
                <% @exams.each do |e| %>
                    <%= render e %>
                    <%= render 'line' unless e == @exams.last %>
                <% end %>
            </div></td>
        </tr>
    </table>
</div>
