<h1>Přehled</h1>
<% if notice %>
    <p id="notice">
      <%= notice %>
    </p>
<% end %>
<% if alert %>
    <p id="alert">
      <%= alert %>
    </p>
<% end %>
<h2>Úvod</h2>
<p>Vítejte na webové verzi Utu. Veškerá data jsou uložena pouze ve zdejší databázi a i desktopová aplikace tento web
  využívá. Tato stránka "běží na" frameworku <%= link_to 'Ruby on Rails', 'http://rubyonrails.org/' %>, který mimo jiné
  využívá třeba Twitter.


<h2>Služba</h2>
<% if @data[:current_service] %>
    <p>Službu na aktuální týden má <strong><%= @data[:current_service].first_mate.full_name %></strong> a
      <strong><%= @data[:current_service].second_mate.full_name %></strong>
<% else %>
    <p>Na aktuální týden nebyla určena žádná služba.
<% end %>
<br/>
Soupis veškerých služeb najdete <%= link_to "zde", :services %></p>

<% if logged_in? %>
    <% if @data[:user_service] %>
        <p>
          Vaše období služby začíná <strong><%= l @data[:user_service].service_start %></strong> a končí
          <strong><%= l @data[:user_service].service_end %></strong>

          <br/>
          <%= link_to 'Více informací o vaší službě', @data[:user_service] %>
        </p>
    <% end %>

<% else %>
    <h5>Pro zpřístupnění následujících funkcí se prosím <%= link_to 'přihlašte', login_path %>
      nebo <%= link_to 'zaregistrujte', register_path %>.</h5>
    <ul>
      <li>
        personalizované zobrazení služby
      </li>
      <li>
        filtrované zobrazení položek
      </li>
      <li>
        možnost skrytí libovolné položky
      </li>
      <li>
        automatické zobrazení rozvrhu pro vaší skupinu
      </li>
      <li>
        a postupem času i mnoho dalšího ;)
      </li>
    </ul>
<% end %>

<h2><%= 'Poslední zprávy' if @data[:articles] && @data[:articles].count > 0 %></h2>
<% @data[:articles].each do |article| %>
    <%= render partial: "articles/article", locals: {article: article, hide_published: true} %>
<% end %>

<h2>Manuální zobrazení podrobností z libovolného období</h2>
<%= form_tag(details_path, method: 'get') do %>
    <div class="field">
      <%= label_tag :from, 'Od:' %>
      <%= date_select :range, :from, order: [:day, :month, :year] %>
    </div>
    <div class="field">
      <%= label_tag :to, 'Do:' %>
      <%= date_select :range, :to, order: [:day, :month, :year] %>
    </div>
    <div class="field">
      <%= label_tag :group, 'Skupina:' %>
      <%= number_field_tag :group, '1' %>
    </div>
    <div class="field">
      <%= submit_tag 'Zobrazit' %>
    </div>
<% end %>

