<% if notice %>
<p id="notice">
    <%= notice %>
</p>
<% end %>
<% if alert %>
<p id="alert">
    <%= alert %>
</p>
<% end %>

<% if logged_in? %>
    <h3>Služba</h3>
    <% if @error %>
        <%= @error %>
    <% else %>
        <p>Vaše období služby začíná <%= l @service.service_start %> a končí <%= l @service.service_end %></p>
        <%= link_to 'Více informací o vaší službě', @service %>
    <% end %>
<% else %>
    <h4>Pro zpřístupnění následujících funkcí se prosím <%= link_to 'přihlašte', login_path %> nebo <%= link_to 'zaregistrujte', new_user_path %>.</h4>
    <ul>
        <li>personalizované zobrazení služby</li>
        <li>filtrované zobrazení položek (například podle skupiny)</li>
        <li>a postupem času i mnoho dalšího ;)</li>
    </ul>
<% end %>
