<h1>Přehled</h1>
<% set_title 'Přehled' %>

<div class="summary_section">
  <h2>Úvod</h2>
  <p>Vítejte na webové verzi Utu. Veškerá data jsou uložena pouze ve zdejší databázi a i desktopová aplikace tento web
    využívá. Tato stránka "běží na" frameworku <%= link_to 'Ruby on Rails', 'http://rubyonrails.org/' %>, který mimo
    jiné
    využívá třeba Twitter.
  </p>
</div>

<div class="summary_section">
  <h2>Služba</h2>
  <% if @data[:service][:current] %>
      <p>Službu na aktuální týden má <strong><%= @data[:service][:current].first_mate.full_name %></strong> a
        <strong><%= @data[:service][:current].second_mate.full_name %></strong>
  <% else %>
      <p>Na aktuální týden nebyla určena žádná služba.
  <% end %>
  <br/>
  Soupis veškerých služeb najdete <%= link_to "zde", :services %></p>

  <% if logged_in? %>
      <% if @data[:service][:user] %>
          <p>
            Vaše období služby začíná <strong><%= l @data[:service][:user].service_start %></strong> a končí
            <strong><%= l @data[:service][:user].service_end %></strong>

            <br/>
            <%= link_to 'Více informací o vaší službě', @data[:service][:user] %>
          </p>
      <% end %>

  <% else %>
      <h5>Pro zpřístupnění následujících funkcí se prosím <%= link_to 'přihlašte', login_path %>
        nebo <%= link_to 'zaregistrujte', register_path %>.</h5>
      <ul>
        <li>
          personalizované zobrazení služby
        </li>
        <li>
          filtrované zobrazení položek
        </li>
        <li>
          možnost skrytí libovolné položky
        </li>
        <li>
          automatické zobrazení rozvrhu pro vaší skupinu
        </li>
        <li>
          a postupem času i mnoho dalšího ;)
        </li>
      </ul>
  <% end %>
</div>

<% if @data[:articles] && @data[:articles].count > 0 %>
    <div class="summary_section">
      <% if admin_logged_in? %>
          <div class="float_right_actions">
            <%= link_to mi.add.md_36, new_article_path %>
            <%= link_to mi.view_list.md_36, articles_path %>
          </div>
      <% end %>
      <h2>Poslední zprávy</h2>
      <% @data[:articles].each do |article| %>
          <%= render partial: "articles/article", locals: {article: article, hide_published: true} %>
      <% end %>
    </div>
<% end %>
<!---
<div class="summary_section">
  <h2>Manuální zobrazení podrobností z libovolného období</h2>
  <%= form_tag(details_path, method: 'get') do %>
      <div class="field">
        <%= label_tag :from, 'Od:' %>
    <%= date_select :range, :from, order: [:day, :month, :year] %>
      </div>
      <div class="field">
        <%= label_tag :to, 'Do:' %>
    <%= date_select :range, :to, order: [:day, :month, :year] %>
      </div>
      <div class="field">
        <%= label_tag :group, 'Skupina:' %>
    <%= number_field_tag :group, '1' %>
      </div>
      <div class="field">
        <%= submit_tag 'Zobrazit' %>
      </div>
  <% end %>
</div>
--->
