<p id="notice"><%= notice %></p>

<p>
  <strong>End:</strong>
  <%= @raking.end %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @raking.subject_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @raking.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @raking.description %>
</p>

<%= link_to 'Edit', edit_raking_path(@raking) %> |
<%= link_to 'Back', rakings_path %>
