<h1>Listing planned_raking_entries</h1>

<table>
  <thead>
    <tr>
      <th>Class member</th>
      <th>Planned raking list</th>
      <th>Finished</th>
      <th>Sorting order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @planned_raking_entries.each do |planned_raking_entry| %>
      <tr>
        <td><%= planned_raking_entry.class_member.full_name %></td>
        <td><%= planned_raking_entry.planned_raking_list.title %></td>
        <td><%= planned_raking_entry.finished %></td>
        <td><%= planned_raking_entry.sorting_order %></td>
        <td><%= link_to 'Show', planned_raking_entry %></td>
        <td><%= link_to 'Edit', edit_planned_raking_entry_path(planned_raking_entry) %></td>
        <td><%= link_to 'Destroy', planned_raking_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Planned raking entry', new_planned_raking_entry_path %>
