<h1>Přihláška do seznamu zkoušení</h1>

<%= form_for(@planned_raking_entry) do |f| %>

    <% if @planned_raking_entry.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@planned_raking_entry.errors.count, "error") %> prohibited this rekt from being
            saved:</h2>
          <ul>
            <% @planned_raking_entry.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <% sclass = @planned_raking_entry.planned_raking_list ? @planned_raking_entry.planned_raking_list.sclass : current_class %>

    <div class="field">
      <%= f.label :class_member_id, "Jméno" %><br>
      <%= @planned_raking_entry.class_member.of_name if @planned_raking_entry.class_member %> (můžete přihlásit pouze sami sebe)
    </div>
    <div class="field">
      <%= f.label :description, "Téma" %><br>
      <%= f.text_field :description %>
      (pokud se jedná o prezentaci, <b>můžete</b> zde zadat nějaký krátký popis, aby ostatní případně neměli stejný nápad)
    </div>
    <div class="field">
      <%= f.label :planned_raking_list_id, "Seznam zkoušení" %><br>
      <%= f.collection_select :planned_raking_list_id, PlannedRakingList.where(sclass: sclass), :id, :full_name %>
    </div>
    <div class="field">
      <%= f.label :raking_round_id, "Kolo" %><br>
      <%= f.collection_select :raking_round_id, RakingRound.where(planned_raking_list: @planned_raking_entry.planned_raking_list), :id, :to_s, {selected: @planned_raking_entry.planned_raking_list.current_round.id} %>
    </div>
    <div class="actions">
      <%= f.submit "Odeslat" %>
    </div>
<% end %>

