<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @planned_raking_entry.class_member.of_name %>
</p>
<p>
  <strong>Popis:</strong>
  <%= @planned_raking_entry.description %>
</p>
<p>
  <strong>Planned raking list:</strong>
  <%= @planned_raking_entry.planned_raking_list.title %>
</p>

<p>
  <strong>Rekt?:</strong>
  <%= format_boolean @planned_raking_entry.finished %>
</p>

<p>
  <strong>Známka:</strong>
  <%= @planned_raking_entry.grade %>
</p>

<%= link_to 'Edit', edit_planned_raking_entry_path(@planned_raking_entry) %> |
<%= link_to 'Back', planned_raking_entries_path %>
