<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @planned_raking_entry.class_member.name %>
</p>

<p>
  <strong>Planned raking list:</strong>
  <%= @planned_raking_entry.planned_raking_list_id.name %>
</p>

<p>
  <strong>Finished:</strong>
  <%= @planned_raking_entry.finished %>
</p>

<p>
  <strong>Sorting order:</strong>
  <%= @planned_raking_entry.sorting_order %>
</p>

<%= link_to 'Edit', edit_planned_raking_entry_path(@planned_raking_entry) %> |
<%= link_to 'Back', planned_raking_entries_path %>
