<%= form_for(@school_day) do |f| %>
  <% if @school_day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school_day.errors.count, "error") %> prohibited this school_day from being saved:</h2>

      <ul>
      <% @school_day.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :weekday %><br>
    <%= f.number_field :weekday %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
