<h1>Listing school_days</h1>

<table>
  <thead>
    <tr>
      <th>Datum</th>
      <th>Den v týdnu</th>
      <th>Rovrh</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @school_days.each do |school_day| %>
      <tr>
        <td><%= l school_day.date %></td>
        <td><%= I18n.t(:"date.day_names")[school_day.date.wday] %></td>
        <td><%= school_day.timetable.name %></td>
        <td><%= link_to 'Zobrazit', school_day %></td>
        <td><%= link_to 'Upravit', edit_school_day_path(school_day) %></td>
        <td><%= link_to 'Odstranit', school_day, method: :delete, data: { confirm: 'Jste si jisti?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New School day', new_school_day_path %>
