<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= l @school_day.date %>
</p>

<p>
  <strong>Weekday:</strong>
  <%= get_weekday @school_day.date.wday %>
</p>

<table class="timetable">
  <%= render partial: "school_day", locals: {school_day: @school_day, date: true, blank_hours: true} %>
</table>

<% @school_day.lessons.each do |lesson| %>
    <%= lesson.serial_number %>
    <%= lesson.subject.name %><br>
<% end %>

<%= link_to 'Upravit', edit_school_day_path(@school_day) %> |
<%= link_to 'Back', school_days_path %>
