<div class="exam" data-id=<%= exam.id %>>
    
    <% if logged_in? %>
        <% if exam.is_done? %>
            <%= button_to 'Obnovit', exam_reveal_path(exam), method: :post, remote: true, class: 'hide_or_reveal' %>
        <% else %>
            <%= button_to 'Skrýt', exam_hide_path(exam), method: :post, remote: true, class: 'hide_or_reveal' %>
        <% end %>
    <% end %>

    <h3><%= link_to exam.title, exam_path(exam), method: :get %></h3>
    <p>
        <%= sanitize(exam.description) %>
    </p>
    
    <p>
        <strong>Předmět: </strong>
        <%= exam.subject.name %>
    </p>
    
    <p>
        <strong>Datum: </strong>
        <% if exam.lesson.nil? %>
        	<%= l exam.date %> (<%= I18n.t(:"date.day_names")[exam.date.wday] %>)?
        <% else %>
        	<%= l exam.lesson.school_day.date %> (<%= I18n.t(:"date.day_names")[exam.lesson.school_day.date.wday] %>)
        <% end %>
    </p>
    
    <p>
        <strong>Skupina: </strong>
        <% if exam.group == 0 %>
            obě skupiny
        <% else %>
            <%= exam.group %>.
        <% end %>
    </p>
    
    <% if !exam.additional_info_url.nil? && !exam.additional_info_url.empty? %>
        <p>
            <%= link_to "Další informace", exam.additional_info_url, target: '_blank' %>
        </p>
    <% end %>
</div>
