<%= form_for(@exam) do |f| %>
  <% if @exam.errors.any? %>
    <div id="error_explanation">
      <h2><%= errors_restricted_cs(@exam.errors.count) %> uložení tohoto testu:</h2>

      <ul>
      <% @exam.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, 'Název' %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description, 'Popis' %><br>
    <%= f.text_area :description, rows: 6, cols: 30 %>
  </div>
  <div class="field">
    <%= f.label :subject_id, 'Předmět' %><br>
    <%= f.collection_select :subject_id, Subject.all, :id, :name %>
  </div>
  <div class="field">
	<%= f.label :additional_info_url, 'Odkaz na další informace' %>
	<br />
	<%= f.url_field :additional_info_url %>
</div>
  <div class="field">
    <%= f.label :date, 'Datum splnění (skutečné datum je určeno jako: nejbližší hodina daného předmětu po tomto datu)' %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :group, 'Skupina (0 pro obě skupiny)' %><br>
    <%= f.number_field :group %>
  </div>
  <div class="actions">
    <%= f.submit 'Uložit'%>
  </div>
<% end %>
