<p id="notice"><%= notice %></p>

<%= render @exam %>

<% if logged_in? %>
<%= link_to 'Upravit', edit_exam_path(@exam) %> |
<%= link_to 'Zpět na správu testů', exams_path %>
<% end %>
<%= link_to 'Zpět na podrobnosti' %>
