<h3>Administrace</h3>
<p>
  <%= link_to('Události', events_path, class: 'administration_link') %><br/>
  <%= link_to('Úkoly', tasks_path, class: 'administration_link') %><br/>
  <%= link_to('Testy', written_exams_path, class: 'administration_link') %><br/>
  <%= link_to('Rakování', raking_exams_path, class: 'administration_link') %><br/>
  <%= link_to('Předem domluvené rakování (seznam)', planned_raking_lists_path(no_sgroup_filtering: 'true'), class: 'administration_link') %>
</p>
<p>
  <%= link_to('Články', articles_path) %>
</p>
<p>
  <%= link_to('Třídní služby', services_path, class: 'administration_link') %><br/>
  <%= link_to('Generátor služeb', generate_services_form_path) %><br/>
  <%= link_to('Školní roky', school_years_path, class: 'administration_link') %><br/>
  <%= link_to('Prázdniny', holidays_path, class: 'administration_link') %>
</p>
<p>
  <%= link_to('Další informace', additional_infos_path, class: 'administration_link') %>
</p>
<p>
  <%= link_to('Správa uživatelů', users_path, class: 'administration_link') %><br/>
</p>
<p>
  <%= link_to('Statistika předmětů', subjects_summary_path, class: 'administration_link') %><br/>
</p>
<p>
  <%= link_to('Přehled návštěv', details_accesses_path, class: 'administration_link') %><br/>
  <%= link_to('Statistika návštěvnosti', statistics_path, class: 'administration_link') %><br/>
</p>
<p>
  <%= link_to('Rozvrhy', timetables_path, class: 'administration_link') %><br/>
  <%= link_to('Dny', school_days_path, class: 'administration_link') %><br/>
  <%= link_to('Lekce', lessons_path, class: 'administration_link') %><br/>
  <%= link_to('Účty k Bakalářům', baka_accounts_path, class: 'administration_link') %><br/>
</p>
<p>
  <%= link_to('Whoa?', day_teachers_path, class: 'administration_link') %><br>
</p>
<% if current_user.experimental_settings %>
    <%= link_to 'Disable experimental settings', enable_experimental_settings_path(enable: 'false'), class: 'btn btn-danger' %>
<% else %>
    <%= link_to 'Enable experimental settings', enable_experimental_settings_path(enable: 'true'), class: 'btn btn-danger' %>
<% end %>

