<h3>Administrace</h3>
<p>
<%= link_to("Události", events_path, class: 'administration_link') %><br />
<%= link_to("Úkoly", tasks_path, class: 'administration_link') %><br />
<%= link_to("Testy", exams_path, class: 'administration_link') %><br />
<%= link_to("Rakování", rakings_path, class: 'administration_link') %><br />
</p>
<p>
<%= link_to("Třídní služby", services_path, class: 'administration_link') %><br />
<%= link_to("Správa uživatelů", users_path, class: 'administration_link') %><br />
</p>
<p>
<%= link_to("Statistika předmětů", subjects_summary_path, class: 'administration_link') %><br />
</p>
<p>
<%= link_to("Přehled návštěv", details_accesses_path, class: 'administration_link') %><br />
<%= link_to("Statistika návštěvnosti", statistics_path, class: 'administration_link') %><br />
</p>
<p>
<%= link_to("Rozvrhy", timetables_path, class: 'administration_link') %><br />
<%= link_to("Dny", school_days_path, class: 'administration_link') %><br />
<%= link_to("Lekce", lessons_path, class: 'administration_link') %><br />
<%= link_to("Účty k Bakalářům", baka_accounts_path, class: 'administration_link') %><br />
</p>
<%= link_to("Whoa?", day_teachers_path, class: 'administration_link') %><br />
