<ul>
  <li class="main_menu_item">
    <h4>
      <%= link_to("Přehled", utu_path) %>
    </h4>
  </li>
  <li class="main_menu_item">
    <h4>
      <%= link_to("Podrobnosti", details_path) %>
    </h4>
  </li>
  <li class="main_menu_item">
    <h4>
      <%= link_to("Zkoušení", planned_raking_lists_path) %>
    </h4>
  </li>
  <li class="main_menu_item">
    <h4>
      <%= link_to("Rozvrh", rozvrh_path) %>
    </h4>
  </li>
  <li class="main_menu_item">
    <h4>
      <%= link_to("Nastavení", administration_path) %>
    </h4>
  </li>
</ul>