<!DOCTYPE html>
<html>
<head>
  <title>UTU on Rails</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag 'application', "data-turbolinks-track" => true, media: "all" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="background">

  <div id="summary">
    <div id="header">
      <h1><%= @page_title || "UTU" %></h1>
    </div>

    <div id="menu">
      <%= render 'menu' %>
    </div>

    <div id="main">
      <!---
                        <% if notice %>
                        <p id="notice"><%= notice %></p>
                        <% end %>
                        <% if alert %>
                        <p id="alert"><%= alert %></p>
                        <% end %>
                        --->

      <%= yield %>
      <% if Rails.env.development? %>
          <h3>Params</h3>
          <%= debug(params) %>
      <% end %>
    </div>

    <div id="footer">
      <div id="theme"></div>
      <div id="powered"></div>
    </div>
  </div>
</div>
</body>
</html>
