<!DOCTYPE html>
<html>
    <head>
        <title>UTU on Rails</title>
        <%= favicon_link_tag 'favicon.ico' %>
<<<<<<< HEAD:app/views/layouts/desktop_main.html.erb
        <%= stylesheet_link_tag 'scaffolds', "data-turbolinks-track" => true %>
        <%= stylesheet_link_tag 'summary', "data-turbolinks-track" => true %>
        <%= stylesheet_link_tag "utu", "data-turbolinks-track" => true %>
=======
        <%= stylesheet_link_tag 'scaffolds' %>
        <%= stylesheet_link_tag 'summary' %>
        <%= stylesheet_link_tag "utu" %>
>>>>>>> 34904902883b15b0c5237ce7a31a5299860f9e58:app/views/layouts/desktop_main.html.erb
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <% if  Rails.env.production? %>
        <script>
									(function(i,s,o,g,r,a,m) {
								i['GoogleAnalyticsObject']=r;
								i[r]=i[r]||
								function() {
								(i[r].q=i[r].q||[]).push(arguments)
								},i[r].l=1*new Date();
								a=s.createElement(o), m=s.getElementsByTagName(o)[0];
								a.async=1;
								a.src=g;
								m.parentNode.insertBefore(a,m)
								})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
									ga('create','UA-51510380-1','utu.herokuapp.com');
									ga('send','pageview');
        </script>
        <% end %>
        <div id="penis">
            <div id="background">

                <div id="summary">
                    <div id="header">
                        <h1><%= @page_title || "UTU" %></h1>
                    </div>

                    <div id="menu">
                        <%= render 'menu' %>
                    </div>

                    <div id="main">
                        <!---
                        <% if notice %>
                        <p id="notice"><%= notice %></p>
                        <% end %>
                        <% if alert %>
                        <p id="alert"><%= alert %></p>
                        <% end %>
                        --->

                        <%= yield %>
                        <% if Rails.env.development? %>
                        <h3>Params</h3>
                        <%= debug(params) %>
                        <h3>Session</h3>
                        <%= debug(session) %>
                        <h3>Response</h3>
                        <%= debug(response) %>
                        <h3>Request</h3>
                        <%= debug(request) %>
                        <% end %>
                    </div>

                    <div id="footer">
                        <div id="theme"></div>
                        <div id="powered"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
