<!DOCTYPE html>
<html>
<head>
  <title><%= get_title %></title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag 'application', "data-turbolinks-track" => true, media: "all" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body id="material_body_html">

<div id="material_container">

  <div id="material_header">
    <div id="material_header_content">

    </div>
  </div>
  <div id="material_body">
    <div id="material_body_content">

    </div>
  </div>
  <div id="material_footer">
    <div id="material_footer_content">

    </div>
  </div>
</div>
</body>
</html>
