<!DOCTYPE html>
<html>
    <head>
        <title>UTU on Rails</title>
        <%= favicon_link_tag 'favicon.ico' %>
        <%= stylesheet_link_tag "utu_mobile" %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "menumaster/jquery.mmenu.min.all.js" %>
        <%= stylesheet_link_tag "menumaster/jquery.mmenu.all.css" %>
        <%= csrf_meta_tags %>

        <script type="text/javascript">
            $(document).ready(function() {
                $("#mainmenu").mmenu();
            });
        </script>
    </head>
    <body>
        <div>
            <nav id="mainmenu">
                <ul id="menu">
                    <li>
                        <%= link_to("Přehled", utu_path) %>
                    </li>
                    <li>
                        <%= link_to("Podrobnosti", details_path) %>
                    </li>
                    <li>
                        <%= link_to("Rozpis služeb", service_list_path) %>
                    </li>
                    <li>
                        <%= link_to("Nastavení", administration_path) %>
                    </li>
                </ul>
            </nav>
        </div>
    </body>
</html>