<% type = item.get_utu_type %>
<% no_hide |= false %>

<%= button_to 'Skrýt', hide_item_path(id: item.id, type: item.get_utu_type(true)), method: :post, remote: true, class: 'hide_or_reveal' unless no_hide %>
<h3><%= link_to item.title, item %></h3>
<% if type == :article %>
    <p>
      <%= truncate(strip_tags(item.text), length: 30) %>
    </p>
<% else %>
    <p>
      <%= sanitize(item.description) %>
    </p>
<% end %>

<% if type == :event %>
    <p>
      <strong>Místo: </strong>
      <%= item.location %>
    </p>
    <% if item.price && item.pay_date && item.price > 0 %>
        <p>
          <strong>Platba: </strong>
          <% if item.pay_date == item.event_start %>
              <%= number_to_currency(item.price, locale: :cs) %> na místě
          <% else %>
              <%= l item.pay_date %> zaplatit <%= number_to_currency(item.price, locale: :cs) %>
          <% end %>
        </p>
    <% end %>

    <p>
      <strong>Začátek události: </strong>
      <%= format_date item.event_start %>
    </p>

    <p>
      <strong>Konec události: </strong>
      <%= format_date item.event_end %>
    </p>
<% else %>
    <% if type == :article %>
        <%= link_to 'Číst dál', item %>
    <% else %>
        <p>
          <strong>Předmět: </strong>
          <%= item.subject.name %>
        </p>
        <p>
          <strong>Datum: </strong>
          <%= format_date item.get_lesson_date %> [<%= l item.date %>]
        </p>
    <% end %>
<% end %>

<p>
  <strong>Skupina: </strong>
  <%= get_group_string item %>
</p>

<% item.info_item_bindings.each do |binding| %>
    <%= link_to binding.additional_info.name, binding.additional_info.url, target: :blank %><br>
<% end %>