<% type = item.get_utu_type %>
<% no_hide |= false %>
<% links_enabled |= false %>

<div class="utu_item" data-id=<%= item.id %> data-type="<%= type %>">
  <% if no_hide %>
      <%= render partial: '_generic_utu_partials/revealed', locals: {item: item, no_hide: true} %>
  <% else %>
      <% if logged_in? %>
          <% if item.is_done? %>
              <%= render partial: '_generic_utu_partials/hidden', locals: {item: item} %>
          <% else %>
              <%= render partial: '_generic_utu_partials/revealed', locals: {item: item} %>
          <% end %>
      <% else %>
          <%= render partial: '_generic_utu_partials/revealed', locals: {item: item} %>
      <% end %>
  <% end %>
  <% if links_enabled %>
      <div class="float_right_actions shared_show_actions"><%= get_admin_links item %></div>
  <% end %>
</div>